.zed/
build/
**/*.o
**/*.exe
**/*.dll
**/*.obj
**/*.a
demo.dccart
demo-cart.png
nob
nob.exe
nob.old
nob.exe.old
.gdbinit
imgui.ini
.vs/
dracon/
gifs/
x64/
deps/imgui/x64/
deps/ImGuiColorTextEdit/.vs/
deps/ImGuiColorTextEdit/x64/
deps/ImGuiColorTextEdit/ImGuiColorTextEdit.sln
deps/lua/.vs/
deps/lua/x64/
deps/lua/lua.slnx
deps/PlatformFolders/.vs/
deps/PlatformFolders/x64/
deps/PlatformFolders/PlatformFolders.sln
dracon.vcxproj.user
